
/ === ESTILO GENERAL = /

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#352016;
    color:#4b3b2f;
    font-family:'Poppins',sans-serif;
    line-height:1.7;
}

/ = HEADER = /

header{
    position:sticky;
    top:0;
    background:#f7f2eb;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    box-shadow:0 2px 15px rgba(0,0,0,.05);
    z-index:1000;
}

.logo{
    font-family:'Cormorant Garamond',serif;
    font-size:34px;
    color:#7a5d45;
    font-weight:600;
}

nav a{
    text-decoration:none;
    color:#5b4636;
    margin-left:25px;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#b89363;
}

/ = HERO === /

.hero{
    text-align:center;
    padding:90px 20px 70px;
}

.hero h1{
    font-family:'Cormorant Garamond',serif;
    font-size:60px;
    color:#7a5d45;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    margin:auto;
    color:#666;
    fo
/* ===== ANIMACIONES ===== */

.card{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.card.mostrar{
    opacity:1;
    transform:translateY(0);
}
